﻿@model LAB3.Models.Product;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "ADD PRODUCT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add Product</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Tên Sản Phẩm</label>
        <input asp-for="Name" class="form-control" id="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Price"> Giá</label>
        <input asp-for="Price" class="form-control" id="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
     </div>
     <div class="form-group">
            <label asp-for="Description">Miêu tả</label>
        <textarea asp-for="Description" class="form-control" id="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>

     </div>
     <div class="form-group">
            <label asp-for="CategoryId">Category</label>
             @* @Html.DropDownList("Categories", ViewBag.Categories as SelectList) *@
            <select asp-for="CategoryId" asp-item="ViewBag.Categories" class="form-control"></select>
     </div>
     <div class="form-group">
            <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" id="form-control" />
     </div>  
     <button type="submit" class="btn btn-primary">Add</button>
</form>