﻿@model LAB3.Models.Product
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete Product</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Are you sure you want to delete @Model.Name?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>