﻿@model LAB3.Models.Product
@{
    ViewBag.Title = "DISPLAY PRODUCT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
<div>
        <h3>Price: @Model.Price</h3>
        <h4>@Model.Description</h4>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;"/>
        }
</div>
<a class="btn btn-info" asp-action="Index">Back to List</a>