﻿@model IEnumerable<LAB3.Models.Product>
@{
    ViewBag.Title = "INDEX PRODUCT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Product</h2>

<table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Category</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td> <img src="@product.ImageUrl" alt="Product Image" style="max-width: 50px;" /> </td>
                <td>@product.Category?.Name </td>
                <td>

                <a class="btn btn btn-primary" asp-action="Display" asp-route-id="@product.Id">View</a> |

                <a class="btn btn-info" asp-action="Update" asp-route-id="@product.Id">Edit</a> |

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>

                </td>
                </tr>
                }
            </tbody>
</table>

