﻿html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



input {
    /*Ẩn boder trên, phải và trái*/
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    /*Thiết lập kiểu cho border dưới*/
    border-bottom-style: groove;
    background-color: CornflowerBlue;
    color: white;
    padding: 15px;
}

    input::placeholder {
        color: white;
    }

    input:focus {
        outline: none;
    }