﻿@model LAB3.Models.Category;
@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewBag.Title = "ADD CATEGORIES";
}

<h2>Add Categories</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>