﻿@model IEnumerable<LAB3.Models.Category>
@{
    ViewBag.Title = "INDEX CATEGORY";
}
<h2>Product</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>

                    <a class="btn btn btn-primary" asp-action="Display" asp-route-id="@category.Id">View</a> |

                    <a class="btn btn-info" asp-action="Update" asp-route-id="@category.Id">Edit</a> |

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

