﻿@model LAB3.Models.ShoppingCart
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                    <div>
                        <p class="mb-0">
                            <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                price <i class="fas fa-angle-down mt-1"></i>
                            </a>
                        </p>
                    </div>
                </div>
                @foreach(var item in Model.Items)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="@item.ImageUrl"
                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.Name</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <form method="post" action="@Url.Action("IncreaseQuantityInCart", "ShoppingCart")">
                                        <input type="hidden" name="productId" value="@item.ProductId">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-plus-lg"></i></button>
                                    </form>
                                    <input type="number" class="form-control" asp-for="@item.Quantity" min="1" />
                                    <form method="post" action="@Url.Action("DecreaseQuantityInCart", "ShoppingCart")">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-dash-lg"></i></button>
                                        <input type="hidden" name="productId" value="@item.ProductId">
                                    </form>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">@(item.Price * item.Quantity)</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                }
               
                <div class="card">
                    <div class="card-body">
                        <form action="@Url.Action("Checkout", "ShoppingCart")">
                            <button type="submit" class="btn btn-primary">Check Out</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("ClearCart", "ShoppingCart")">
                            <button type="submit" class="btn btn-danger">Xóa Tất Cả</button>
                        </form>
                    </div>

                    
                </div>

            </div>
        </div>
    </div>
</section>

